body {
  font-family: "Montserrat", sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
.footer-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.footer-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
.footer-list {
  list-style-type: none;
  padding-left: 0;
}
.footer-list-link {
  color: #CBCFD4;
  text-decoration: none;
  font-size: 14px;
}
.footer-list-title {
  font-size: 10px;
  font-weight: 700;
}
.footer-list-item {
  margin-bottom: 10px;
}

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-light {
  background-color: #F9F6F1;
}
.page-dark {
  background-color: #212121;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.nav-item {
  margin-right: 52px;
}
.nav-link {
  color: #212121;
  text-decoration: none;
}

.cart {
  background-image: url(../img/cart.svg);
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.cart-count {
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #212121;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 24px;
  display: block;
}

.btn {
  background-color: #D7B399;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}
.btn-xs {
  padding: 8px 28px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.main .sale-description {
  font-size: 30px;
  letter-spacing: -0.6px;
}
.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.box {
  position: relative;
}
.box-price {
  position: absolute;
  right: -45px;
  top: 35px;
  text-align: right;
}
.box-price-old {
  font-size: 24px;
  font-weight: 700;
}
.box-price-new {
  font-size: 42px;
  font-weight: 700;
  color: #D84033;
  margin-top: 17px;
}

.notice {
  text-align: center;
  color: white;
  padding: 50px 0;
}
.notice-title {
  font-size: 30px;
  text-transform: uppercase;
}
.notice span {
  font-weight: 700;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: calc(100% - 37px) bottom;
  background-size: 190px 171px;
}
.collection-man {
  background-image: url(../img/top_g.png);
}
.collection-woman {
  background-image: url(../img/woman.png);
}
.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
  position: relative;
}
.product-item::before, .product-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-item::before {
  background-image: url(../img/item-top.svg);
}
.product-item::after {
  background-image: url(../img/item-bot.svg);
}
.product-title {
  font-weight: 600;
}
.product-price {
  color: #D7B399;
  font-size: 18px;
  font-weight: 700;
}